<a href="#<preview/{{encodeURI path}}" class='collapsible-header'>
	<img src="{{icon}}" style="margin: 5px; margin-left: -28px; position: absolute; width: 30px" alt="">
			
  &nbsp;&nbsp;&nbsp;{{name}}
	<span href="#{{name}}/new" data-action='add' class='badge tooltipped' data-position='bottom' data-delay='50' data-tooltip='Add {{name}}'>
		<i class='material-icons'>note_add</i>
	</span>
</a>
<div class='collapsible-body' data-region='body'></div>